.dimple-custom-format-2 {
	fill: none !important;
	stroke: none !important;
}

.dimple-female.dimple-custom-format-1 {
	fill: Salmon !important;
	stroke: Salmon !important;
}

.dimple-series-1 {
	fill: none !important;
	stroke: none !important;
}